<div class="container">
    <h1 class="titulo">Registro de Citas Médicas</h1>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Nombre de Usuario</th>
            <th>Nombre de la Mascota</th>
            <th>Tipo</th>
            <th>Especialidad</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cita of citas">
            <td>{{ cita.usuario }}</td>
            <td>{{ cita.mascota }}</td>
            <td>{{ cita.tipo }}</td>
            <td>{{ cita.especialidad }}</td>
            <td>{{ cita.fecha }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  