
 <!-- Carrusel -->
 <section class="main-section" style="background-image: url('../Images/Fondo.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 100vh;">
    <div class="carousel-container d-flex align-items-center justify-content-center">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="Images/Inicio/Ruleta1.jpg" class="d-block rounded carousel-image mx-auto" alt="Cinque Terre">
          </div>
          <div class="carousel-item">
            <img src="Images/Inicio/Ruleta2.jpg" class="d-block rounded carousel-image mx-auto" alt="Veterinarias cercanas">
          </div>
          <div class="carousel-item">
            <img src="Images/Inicio/Ruleta3.jpg" class="d-block rounded carousel-image mx-auto" alt="Agenda una cita médica">
          </div>
          <div class="carousel-item">
            <img src="Images/Inicio/Ruleta4.jpg" class="d-block rounded carousel-image mx-auto" alt="Agenda una cita médica">
          </div>
          <div class="carousel-item">
            <img src="Images/Inicio/Ruleta5.jpg" class="d-block rounded carousel-image mx-auto" alt="Agenda una cita médica">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
    </div>
  </section>